$mobile: "only screen and (max-width: 659px)";
$tablet: "only screen and (min-width: 660px) and (max-width: 1199px)";
$desktop: "only screen and (min-width: 1200px)";

$font-family: "Open Sans",
"Arial",
sans-serif;
$font-size: 18px;
$line-height: 30px;

$white: #FFFFFF;
$black: #000000;
$pink: #D22856;
$background-black: #1D2631;
$main-black: #283645;
$green: #2AAB6D;
