$desktop-width: 1200px;
$tablet-width: 660px;
$mobile-width: 320px;
$padding-desktop: 130px;
$padding-mobile: 20px;
$header-height-desktop: 110px;
$header-height-tablet: 109px;
$header-height-mobile: 66px;

$primary: #d22856;
$secondary: #283645;
$white: #ffffff;
$black: #000000;
$background-primary: #f2f2f2;
$background-secondary: #1d2631;
$green: #2aab6d;

$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 18px;
$line-height: 30px;
$color-text: $primary;
$font-weight: 400;
