.contacts {
  @include page-wrapper-tablet;
  width: 100%;

  @include desktop {
    @include page-wrapper-desktop;
  }
}

.contacts__title {
  @include style-reset;
  width: 222px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;
  margin: 0 auto 34px;

  @include tablet {
    width: 370px;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 33px;
  }

  @include desktop {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 40px;
  }
}

.contacts__list {
  @include list-reset;
  text-align: center;
  margin-bottom: 15px;

  @include tablet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @include desktop {
    margin-bottom: 10px;
  }
}

.contacts__item {
  margin-bottom: 17px;

  @include tablet {
    width: 48%;
    min-width: 280px;
    margin-bottom: 42px;
  }

  @include desktop {
    width: 32%;
    padding: 0;
  }

  &:nth-child(2) {
    margin-bottom: 21px;

    @include tablet {
      margin-bottom: 42px;
    }

    @include desktop {
      order: 2;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      margin: 0;
    }
  }
}


.contacts__item-title {
  @include style-reset;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $secondary;

  @include tablet {
    margin-bottom: 3px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.contacts__item-link {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
  color: $primary;

  &[href]:hover,
  &[href]:focus {
    @include animation;
    color: $secondary;
  }

  &[href]:active {
    color: rgba($secondary, 0.3);
  }
}

.contacts__map {
  position: relative;
  min-height: 218px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
  overflow: hidden;

  @include retina {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: $mobile-width;
  }

  @include tablet {
    min-height: 374px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 0 0;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;

    @include retina {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: $tablet-width;
    }
  }

  @include desktop {
    min-width: 1200px;
    min-height: 502px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: cover;
    margin-left: -$padding-desktop;
    margin-right: -$padding-desktop;

    @include retina {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: $desktop-width;
    }
  }

  &::before {
    width: 1200px;
    height: 123px;
    display: block;
    content: "";
    position: absolute;
    top: -72px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top;

    @include tablet {
      top: -55px;
    }

    @include desktop {
      min-width: 1439px;
      width: 100%;
      top: -20px;
      background-image: url("../img/bg-triangle-white-footer-desktop.svg");
    }
  }
}

.contacts__interactive-map {
  width: 100%;
  min-height: 217px;
  border: none;
  margin-bottom: -10px;

  @include tablet {
    min-height: 374px;
  }

  @include desktop {
    min-height: 502px;
  }
}
