.contest__lead {
  background-color: $background-secondary;
}

.contest__title {
  @include style-reset;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

.contest__text {
  @include style-reset;
  font-size: 14px;
  color: $secondary;
}

.contest__note {
  @include style-reset;
  font-size: 14px;
  color: $secondary;
  text-transform: uppercase;

  & span {
    color: $primary;
  }
}
