.contest__lead {
  background-color: $background-secondary;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 0 44px;
  margin-bottom: 44px;
}

.contest__title {
  @include style-reset;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  padding: 0 46px;
  margin: 72px 0 0;
}

.contest__text {
  @include style-reset;
  font-size: 14px;
  color: $secondary;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 35px;
}

.contest__note {
  @include style-reset;
  font-size: 14px;
  color: $secondary;
  text-transform: uppercase;
  padding: 0 68px 0 69px;
  margin-bottom: 16px;

  & span {
    color: $primary;
  }
}
