.contacts {
  @include page-wrapper-tablet;
  width: 100%;

  @include desktop {
    @include page-wrapper-desktop;
    margin-bottom: 47px;
  }
}

.contacts__title {
  @include style-reset;
  width: 222px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;
  margin: 0 auto 33px;

  @include tablet {
    width: 370px;
    font-size: 40px;
    line-height: 54px;
  }

  @include desktop {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 40px;
  }
}

.contacts__list {
  @include list-reset;
  text-align: center;
  margin-bottom: 16px;

  @include tablet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 18px;
  }
}

.contacts__item {
  margin-bottom: 17px;

  @include tablet {
    width: 48%;
    min-width: 280px;
    margin-bottom: 43px;
  }

  @include desktop {
    width: 32%;
    padding: 0;
  }

  &:nth-child(2) {
    margin-bottom: 22px;

    @include tablet {
      margin-bottom: 43px;
    }

    @include desktop {
      order: 2;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      margin: 0;
    }
  }
}


.contacts__item-title {
  @include style-reset;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $secondary;

  @include tablet {
    margin-bottom: 3px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.contacts__item-link {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
  color: $primary;
}

.contacts__map {
  position: relative;
  min-height: 216px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
  overflow: hidden;

  @include tablet {
    min-height: 367px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-position-y: -433px;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
  }

  @include desktop {
    min-width: 1200px;
    min-height: 492px;
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    margin-left: -$padding-desktop;
    margin-right: -$padding-desktop;
  }

  &::before {
    width: 1200px;
    height: 123px;
    display: block;
    content: "";
    position: absolute;
    top: -72px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top;

    @include tablet {
      top: -63px;
    }

    @include desktop {
      min-width: 1439px;
      top: -30px;
      width: 100%;
      background-image: url("../../img/bg-triangle-white-footer-desktop.svg");
    }
  }
}

.contacts__interactive-map {
  width: 100%;
  min-height: 216px;
  border: none;
  margin-bottom: -10px;

  @include tablet {
    min-height: 367px;
  }

  @include desktop {
    min-height: 494px;
  }
}
