.download {
  background-color: $background-secondary;
  padding-bottom: 19px;
}

.download__lead {
  position: relative;
  min-height: 396px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -1px 3px;
  background-size: cover;
  padding-top: 22px;

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 296px;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 0 auto;
  }
}

.download__title {
  @include style-reset;
  width: 280px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  margin: 72px auto 19px;
}

.download__btn {
  width: 280px;
  min-height: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid $white;
  border-radius: 29px;
  background-color: transparent;
  color: $white;
  padding: 15px 35px;
  margin: 28px auto;
}

.download__list {
  @include list-reset;
  width: 204px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 15px;
}

.download__link {
  display: inline-block;
  vertical-align: middle;
}

.download__text {
  @include style-reset;
  width: 280px;
  min-height: 34px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 12px;
}
