.download {
  @include page-wrapper-mobile;
  width: 100%;
  background-color: $background-secondary;

  @include tablet {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
  }
}

.download__wrapper {
  width: 100%;
  max-width: $tablet-width;
  margin: 0 auto;
}

.download__main {
  width: 100%;
  padding-bottom: 19px;

  @include tablet {
    padding-top: 200px;
    width: 300px;
    padding-bottom: 119px;
  }
}

.download__lead {
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 18px;
  padding-top: 69px;

  @include tablet {
    background: none;
  }
}

.download__img {
  width: 258px;
  height: 286px;
  font-size: 0;
  line-height: 0;

  @include tablet {
    width: 700px;
    height: 545px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  @include desktop {
    width: 1050px;
    height: 645px;
  }
}

.download__title {
  @include style-reset;
  @include page-wrapper-mobile;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $white;
  margin-top: 20px;
  margin-bottom: 30px;

  @include tablet {
    font-size: 40px;
    line-height: 48px;
    position: relative;
    z-index: 1;
  }
}

.download__btn {
  @include btn-reset;
  width: 280px;
  display: block;
  min-height: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid $white;
  border-radius: 29px;
  color: $white;
  padding: 15px 35px;
  margin: 0 auto 18px;

  @include tablet {
    width: 300px;
    position: relative;
    z-index: 1;
  }
}

.download__list {
  @include list-reset;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto 18px;

  @include tablet {
    position: relative;
    z-index: 1;
  }
}

.download__text {
  @include style-reset;
  min-height: 34px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;

  @include tablet {
    font-size: 18px;
    position: relative;
    z-index: 1;
  }
}
