.editor {
  @include page-wrapper-mobile;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-primary;
  padding-top: 20px;
  padding-bottom: 20px;
}

.editor__img {
  margin-bottom: 32px;
}

.editor__form {
  width: 100%;
}

.editor__form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1px;
  padding-bottom: 72px;
  margin-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -20px;
    height: 1px;
    width: calc(100% + 40px);
    background-color: rgba($secondary, 0.1);
  }
}

.editor__icon-btn {
  border: none;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 24px 0 10px;
}

.editor__icon-btn--photo-crop .editor__icon-color {
  fill: $primary;
  fill-opacity: 1;
}

.editor__input {
  display: none;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);

  &--active {
    display: block;
  }
}

.editor__input-range {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: $secondary;
}

.editor__input-btn {
  @include btn-reset;
  position: absolute;
  top: -5px;
  left: 81%;
  height: 14px;
  width: 14px;
  background-color: $white;
  border: 2px solid $primary;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  padding: 0;
}

.editor__btn {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $primary;
  background-color: transparent;
  border: 3px solid $primary;
  border-radius: 30px;

  &--submit {
    width: 280px;
    padding: 15px 0 16px;
    margin-bottom: 12px;
  }

  &--reset {
    width: 280px;
    border-color: $secondary;
    opacity: 0.1;
    padding: 16px 0 15px;
    margin-bottom: 21px;
  }
}
