.features {
  width: 100%;
}

.features__lead {
  @include page-wrapper-mobile;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
    margin: 47px 0 32px;
  }

  @include desktop {
    @include page-wrapper-desktop;
    margin: 62px 0 16px;
  }
}

.features__lead-title {
  @include style-reset;

  width: 270px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;
  margin-bottom: 29px;

  @include tablet {
    width: 100%;
    font-size: 40px;
    line-height: 54px;
    margin: 0;
  }

  @include desktop {
    font-size: 50px;
    line-height: 68px;
  }
}

.features__lead-text {
  @include style-reset;
  width: 270px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;

  @include tablet {
    width: 350px;
    font-size: 40px;
    line-height: 54px;
  }

  @include desktop {
    width: 700px;
    font-size: 50px;
    line-height: 68px;
  }
}

.features__wrapper {
  @include page-wrapper-mobile;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/bg-triangle-white.svg");
  background-color: $background-primary;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 81px;
  margin-bottom: 41px;

  @include tablet {
    padding-top: 73px;
    padding-bottom: 43px;
    margin-bottom: 54px;
  }

  @include desktop {
    background-size: 140%;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 68px;
    margin-bottom: 0;
  }
}

.features__list {
  @include list-reset;

  @include tablet {
    @include page-wrapper-tablet;
    width: $tablet-width;
    position: relative;
    padding-left: 330px;
  }

  @include desktop {
    width: auto;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0;
    padding-right: 0;
  }
}

.features__item {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;

  @include tablet {
    margin-bottom: 34px;
  }

  @include desktop {
    width: 320px;
    flex-direction: column-reverse;
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features__info {
  width: 100%;
}

.features__img {
  display: none;

  @include desktop {
    display: block;
    margin-bottom: 48px;
  }

  &--visible {
    display: block;
    width: 157px;
    height: 318px;
    overflow: hidden;
    padding-top: 41px;

    @include tablet {
      position: absolute;
      width: 268px;
      height: 527px;
      bottom: -48px;
      left: 21px;
    }

    @include desktop {
      position: static;
      width: auto;
      height: auto;
      bottom: unset;
      left: unset;
      padding-top: 0;
    }
  }
}

.features__item-title {
  @include style-reset;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $black;
  margin-bottom: 12px;

  @include tablet {
    text-align: start;
  }

  @include desktop {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding: 0 42px;
    margin: 0 auto 22px;
  }
}

.features__item-text {
  @include style-reset;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $secondary;

  @include tablet {
    text-align: start;
    padding-left: 0;
  }

  @include desktop {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 36px;
  }
}
