.features__title {
  color: $main-black;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item-title {
  color: $black;
}

.features__item-text {
  color: $main-black;
}
