.features {
  width: 100%;
}

.features__lead {
  @include page-wrapper-mobile;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 25px;

  @include desktop {
    @include page-wrapper-desktop;
  }
}

.features__lead-title {
  @include style-reset;

  width: 270px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;
  margin-bottom: 27px;

  @include tablet {
    width: 100%;
    font-size: 40px;
    line-height: 54px;
    margin: 0;
  }
}

.features__lead-text {
  @include style-reset;
  width: 270px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $secondary;

  @include tablet {
    width: 100%;
    font-size: 40px;
    line-height: 54px;
  }

  @include desktop {
    width: 700px;
  }
}

.features__wrapper {
  @include page-wrapper-mobile;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/bg-triangle-white.svg");
  background-color: $background-primary;
  background-repeat: no-repeat;
  background-size: 107%;
  padding-top: 82px;

  @include desktop {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.features__list {
  @include list-reset;

  @include tablet {
    @include page-wrapper-tablet;
    width: $tablet-width;
    position: relative;
    padding-left: 330px;
  }

  @include desktop {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }
}

.features__item {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin: 0;
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column-reverse;
  }
}

.features__info {
  width: 100%;
  margin-bottom: 30px;
}

.features__img {
  display: none;

  @include desktop {
    display: block;
  }

  &--visible {
    display: block;
    width: 136px;
    height: 245px;
    overflow: hidden;

    @include tablet {
      position: absolute;
      width: 268px;
      height: 481px;
      bottom: 0;
      left: $padding-mobile;
    }

    @include desktop {
      position: static;
      width: auto;
      height: auto;
      bottom: unset;
      left: unset;
    }
  }
}

.features__item-title {
  @include style-reset;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $black;
  margin-bottom: 12px;

  @include tablet {
    text-align: start;
  }

  @include desktop {
    text-align: center;
  }
}

.features__item-text {
  @include style-reset;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $secondary;

  @include tablet {
    text-align: start;
    padding-left: 0;
  }

  @include desktop {
    text-align: center;
  }
}
