.footer {
  @include page-wrapper-tablet;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 33px;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  @include desktop {
    @include page-wrapper-desktop;
    max-width: 1200px;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  &--index {
    @include desktop {
      padding-top: 67px;
    }
  }

  &--photo {
    @include desktop {
      padding-top: 97px;
    }
  }

  &--form {
    padding-top: 56px;

    @include tablet {
      padding-top: 60px;
    }

    @include desktop {
      padding-top: 46px;
    }
  }
}

.footer__logo {
  margin-bottom: 37px;

  @include tablet {
    margin-bottom: 10px;
  }
}

.footer__link {
  display: block;

  & svg {
    fill: $secondary;
  }

  &:hover svg,
  &:focus svg {
    @include animation;
    fill: $primary;
  }

  &:active svg {
    fill: $secondary;
    opacity: 0.3;
  }
}

.footer__logo-mobile {
  display: block;

  @include desktop {
    display: none;
  }
}

.footer__logo-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.footer__social {
  @include style-reset;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @include tablet {
    width: 330px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 0;
  }
}

.footer__social-item {
  @include list-reset;
  margin-right: 8px;

  @include desktop {
    margin-right: 3px;
    margin-left: 4px;
  }

  &:last-child {
    margin: 0;
  }
}

.footer__social-link {
  width: 54px;
  height: 54px;
  display: block;
  border: 3px solid rgba($secondary, 0.1);
  border-radius: 50%;

  &--twitter {
    padding: 10px 15px;
  }

  &--facebook {
    padding: 12px 20px;
  }

  &--youtube {
    padding: 10px 19px;
  }

  & svg {
    fill: $primary;
  }

  &:hover,
  &:focus {
    @include animation;
    border-color: rgba($secondary, 1);
  }

  &:active {
    border-color: rgba($secondary, 0.1);
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__copyright {
  @include tablet {
    width: 130px;
    display: flex;
    align-items: center;
  }

  @include desktop {
    width: 153px;
  }
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  color: $secondary;
  padding-right: 11px;

  @include tablet {
    padding-right: 15px;
  }

  @include desktop {
    padding-right: 13px;
    font-size: 18px;
  }
}

.footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;

  @include tablet {
    padding: 12px 0 0;
  }

  & svg {
    fill: $primary;
  }

  &:hover svg,
  &:focus svg {
    fill: $secondary;
  }

  &:active svg {
    fill: rgba($secondary, 0.3);
  }
}
