.form {
  width: 100%;
}

.form__box {
  padding: 0 20px;
  margin-bottom: 42px;

  &--background {
    background-color: $background-primary;
    padding-top: 40px;
    margin-bottom: 32px;
  }
}

.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form__label {
  font-size: 14px;
  text-transform: uppercase;
  color: $primary;
  padding: 0 23px 0;
  margin-bottom: 5px;
}

.form__input {
  border: 2px solid $border-white;
  border-radius: 1px;
  line-height: 30px;
  padding: 13px 20px 15px;
}

.form__box-legend {
  @include style-reset;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $primary;
  padding: 0 14px;
  margin-bottom: 40px;

  &--textarea {
    margin: 6px 0 16px;
  }
}

.form__input::placeholder {
  color: $secondary;
}

.form__textarea {
  border: 2px solid $border-white;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  resize: none;
  padding: 13px 20px 4px;
  margin-bottom: 6px;

  &::placeholder {
    color: $secondary;
  }
}

.form__submit-btn {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 1px;
  padding: 21px 23px 22px 22px;
  margin: 0 auto 34px;
}
