.logo {
  display: block;
  background-color: transparent;
  outline: none;

  & svg {
    fill: $white;
  }

  &:hover svg,
  &:focus svg {
    @include animation;
    fill: $primary;
  }

  &:active svg {
    fill: $white;
    opacity: 0.3;
  }
}

.logo__mobile {
  display: block;

  @include tablet {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.logo__desktop {
  display: none;

  @include desktop {
    display: block;
    margin-bottom: 7px;
  }
}
