.logo {
  display: block;
  background-color: transparent;
  outline: none;

  @include tablet {
    display: none;
  }

  &--tablet {
    display: none;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }

  & svg {
    fill: $white;
  }

  &:hover svg,
  &:focus svg {
    @include animation;
    fill: $primary;
  }

  &:active svg {
    fill: $white;
    opacity: 0.3;
  }
}
