.option-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option-group__item {
  width: 100%;
  display: flex;
  margin: 0 0 47px 0;
}

.option-group__input {
  @include visually-hidden;

  appearance: none;
}

.option-group__element {
  display: block;
}

.option-group__input[type="checkbox"] ~ .option-group__element {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $border-white;
  border-radius: 1px;
}

.option-group__input[type="checkbox"] ~ .option-group__label {
  padding-left: 47px;
}

.option-group__input[type="checkbox"]:checked ~ .option-group__element {
  background-image: url("../../img/icon-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.option-group__input[type="radio"] ~ .option-group__element {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: $white;
  border: 2px solid $border-white;
  border-radius: 50%;
}

.option-group__input[type="radio"] ~ .option-group__label {
  padding-left: 68px;
}

.option-group__input[type="radio"]:checked ~ .option-group__element {
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.option-group__label {
  font-size: 18px;
  color: $secondary;
}
