.page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
}

.page__header {
  width: 100%;
}

.page__main {
  width: 100%;
}

.page__footer {
  width: 100%;
}
