.photography {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;

  @include desktop {
    margin-bottom: 14px;
  }
}

.photography__lead {
  @include page-wrapper-mobile;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $background-secondary;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 77px;
  margin-bottom: 44px;

  @include tablet {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    padding-top: 176px;
    padding-bottom: 128px;
    margin-bottom: 91px;
  }

  @include desktop {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  @include desktop {
    @include page-wrapper-desktop;
    padding-top: 169px;
    padding-bottom: 89px;
  }
}

.photography__title {
  @include style-reset;
  width: 172px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: $white;

  @include tablet {
    width: 358px;
    font-size: 50px;
    line-height: 68px;
  }
}

.photography__inner {
  @include page-wrapper-mobile;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
    margin-bottom: 64px;
  }

  @include desktop {
    @include page-wrapper-desktop;
    grid-template-columns: 300px 300px 300px;
    gap: 54px 20px;
    margin-bottom: 58px;
  }
}

.photography__text {
  @include style-reset;
  width: 250px;
  font-size: 14px;
  text-align: center;
  color: $black;
  margin-bottom: 50px;

  @include tablet {
    width: 570px;
    font-size: 18px;
    margin-bottom: 77px;
  }

  @include desktop {
    width: 571px;
    margin-bottom: 89px;
  }

  &--bottom {
    width: 260px;
    margin-bottom: 25px;

    @include tablet {
      width: 421px;
      margin-bottom: 53px;
    }
  }
}
