.post {
  position: relative;
  margin-bottom: 20px;

  &--panorama::before {
    content: "Панорама дня";
    width: 140px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #d22856;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 7px 19px;
    z-index: 1;
  }

  &:last-of-type {
    margin-bottom: 43px;
  }
}

.post__description {
  @include style-reset;
  color: $secondary;
  background-color: $background-primary;
  padding: 18px 0 17px;
  margin: 0 20px;
}

.post__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.post__author {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 17px;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__text {
  @include style-reset;
  font-size: 14px;
  line-height: 24px;
  padding: 0 13px 0 17px;
  margin-bottom: 6px;
}

.post__wrapper {
  position: relative;
}

.post__like-btn {
  position: absolute;
  top: 10px;
  left: 17px;
  display: block;
  height: 13px;
  width: 13px;
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  padding: 0;
}

.post__stats {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $primary;
  padding-left: 49px;
}
