.rates {
  width: 100%;
  background-image: url("../img/bg-triangle-white.svg");
  background-color: $background-primary;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding: 103px 0 46px;
  margin-bottom: 41px;

  @include tablet {
    @include page-wrapper-tablet;
    padding-bottom: 67px;
    margin-bottom: 44px;
  }

  @include desktop {
    @include page-wrapper-desktop;
    padding-top: 154px;
    padding-bottom: 95px;
    margin-bottom: 60px;
  }
}

.rates__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1px;
  margin-bottom: 41px;

  @include tablet {
    padding: 0;
    margin: 0;
  }
}
