.recall {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.recall__item {
  @include style-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $secondary;
  margin-bottom: 31px;

  &--two,
  &--three {
    display: none;
  }
}

.recall__item-text {
  @include style-reset;
  order: 2;

  font-size: 14px;
  text-align: center;
  padding: 0 19px;
}

.recall__item-author {
  order: 1;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: $black;
  padding-bottom: 13px;

  & span {
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
