.recall__item {
  color: $secondary;
  @include style-reset;
}

.recall__item-text {
  @include style-reset;
}

.recall__item-author {
  font-style: normal;
  font-weight: 700;
  color: $black;
}

.recall__item span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
