.special {
  display: none;

  @include tablet {
    @include page-wrapper-tablet;
    width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 330px;
    padding-bottom: 40px;
    margin: 0 auto 81px;
  }

  @include desktop {
    @include page-wrapper-desktop;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: $background-primary;
    padding-bottom: 67px;
    margin-bottom: 72px;
  }
}

.special__img {
  position: absolute;
  top: 0;
  left: 20px;

  @include desktop {
    width: 298px;
    height: 345px;
    position: static;
    margin-right: 71px;
  }

  & img {
    width: 238px;
    height: 276px;

    @include desktop {
      width: 298px;
      height: 345px;
    }
  }
}

.special__info {
  padding-top: 43px;

  @include desktop {
    padding-top: 48px;
    margin-right: 43px;
  }
}

.special__title {
  @include style-reset;
  width: 170px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 9px;

  @include desktop {
    width: 100%;
    margin-bottom: 22px;
  }
}

.special__text {
  @include style-reset;
  width: 310px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;

  @include desktop {
    width: 526px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 31px;
  }
}

.special__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $primary;

  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    @include animation;
    color: $secondary;
  }

  &:active {
    color: rgba($secondary, 0.3);
  }
}
