.table-rates {
  width: 840px;
  border-collapse: collapse;
}

.table-rates__th {
  width: 280px;
  height: 95px;
  border: 2px solid $border-white;
  border-radius: 1px;
  border-top: none;
  border-bottom: none;
  background-color: $secondary;
  padding: 12px 10px 29px;

  &:nth-child(2) {
    border-radius: 2px 0 0 0;
    border-left: none;
  }

  &:nth-child(4) {
    border-radius: 0 2px 0 0;
    border-right: none;
  }

  &--empty {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    background-color: transparent;
  }

  &--hit {
    position: relative;
  }

  &--hit::before {
    content: "";
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: -2px;
    background-image: url("../../img/bg-hit-mobile.svg");
    background-repeat: no-repeat;
  }

  &--hit::after {
    content: "Хит";
    position: absolute;
    top: 15px;
    left: 11px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
  }
}

.table-rates__td {
  position: relative;
  width: 280px;
  height: 60px;
  border: 2px solid $border-white;
  border-top: none;
  color: $secondary;
  padding: 7px 50px 7px 21px;
}

.table-rates__title {
  display: none;
}

.table-rates__name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.table-rates__price {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.table-rates__option {
  font-size: 14px;
  text-transform: uppercase;
}

.table-rates__status {
  width: 31px;
  height: 27px;
  position: absolute;
  display: block;
  top: 16px;
  right: 17px;
  text-indent: -1000px;
  overflow: hidden;

  &--on {
    background-image: url("../../img/icon-yes.svg");
    background-size: 31px 21px;
    background-repeat: no-repeat;
    background-position: 0 3px;
  }

  &--off {
    width: 27px;
    min-height: 27px;
    background-image: url("../../img/icon-no.svg");
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: -2px 1px;
  }
}
