.table-rates {
  width: 840px;
  border-collapse: collapse;

  @include tablet {
    width: 621px;
  }

  @include desktop {
    width: 944px;
  }
}

.table-rates__th {
  width: 280px;
  height: 95px;
  border: 2px solid $border-white;
  border-radius: 1px;
  border-top: none;
  border-bottom: none;
  background-color: $secondary;
  color: $white;
  padding: 12px 10px 29px;

  @include tablet {
    width: 152px;
    height: 79px;
    padding: 9px 16px;
  }

  @include desktop {
    height: 98px;
  }

  &:nth-child(2) {
    border-radius: 2px 0 0 0;
    border-left: none;
  }

  &:nth-child(4) {
    border-radius: 0 2px 0 0;
    border-right: none;
  }

  &--hit {
    position: relative;
  }

  &--hit::before {
    content: "";
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/bg-hit.svg");
    background-repeat: no-repeat;

    @include tablet {
      background-size: 57px 57px;
    }

    @include desktop {
      background-size: 74px 74px;
    }
  }

  &--hit::after {
    content: "Хит";
    position: absolute;
    top: 15px;
    left: 14px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);

    @include tablet {
      top: 10px;
      left: 7px;
    }

    @include desktop {
      top: 15px;
      left: 15px;
    }
  }
}

.table-rates__td {
  position: relative;
  width: 280px;
  height: 60px;
  border: 2px solid $border-white;
  border-top: none;
  padding: 7px 50px 7px 21px;

  @include tablet {
    width: 152px;
    height: 47px;
  }

  @include desktop {
    height: 61px;
  }
}

.table-rates__title {
  display: none;

  @include tablet {
    display: table-cell;
    background-color: transparent;
    border-top: 2px solid $border-white;
    padding: 7px 16px;
  }

  @include desktop {
    padding: 7px 5px 7px 23px;
  }

  &--top {
    @include tablet {
      border-top: none;
      border-left: none;
    }
  }
}

.table-rates__name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -3px;

  @include desktop {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.table-rates__price {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

  @include desktop {
    font-size: 24px;
  }
}

.table-rates__option {
  font-size: 14px;
  text-transform: uppercase;

  @include tablet {
    display: none;
  }

  &--show {
    @include tablet {
      display: block;
      text-transform: none;
    }

    @include desktop {
      font-size: 18px;
    }
  }
}

.table-rates__status {
  width: 31px;
  height: 27px;
  position: absolute;
  display: block;
  top: 16px;
  right: 18px;
  text-indent: -1000px;
  overflow: hidden;

  @include tablet {
    top: 8px;
    right: 50%;
    transform: translateX(50%);
  }

  @include desktop {
    top: 15px;
  }

  &--on {
    background-image: url("../../img/icon-yes.svg");
    background-size: 31px 21px;
    background-repeat: no-repeat;
    background-position: 0 3px;
  }

  &--off {
    width: 27px;
    min-height: 27px;
    background-image: url("../../img/icon-no.svg");
    background-size: 27px 27px;
    background-repeat: no-repeat;
  }
}
