.table-rates {
  width: 840px;
  border-collapse: collapse;
}

.table-rates__th {
  width: 280px;
  height: 95px;
  border: 2px solid $border-white;
  background-color: $secondary;
  padding: 12px 10px 29px;
}

.table-rates__th--empty {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  background-color: transparent;
}

.table-rates__td {
  position: relative;
  width: 280px;
  height: 60px;
  border: 2px solid $border-white;
  color: $secondary;
  padding: 9px 50px 10px 20px;
}

.table-rates__title {
  display: none;
}

.table-rates__name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.table-rates__price {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.table-rates__option {
  font-size: 14px;
  text-transform: uppercase;
}

.table-rates__status {
  width: 31px;
  height: 27px;
  position: absolute;
  display: block;
  top: 16px;
  right: 17px;
  text-indent: -1000px;
  overflow: hidden;

  &--on {
    background-image: url("../../img/icon-yes.svg");
    background-size: 31px 21px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--off {
    width: 27px;
    min-height: 27px;
    background-image: url("../../img/icon-no.svg");
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
